*
{
  margin: 0;
  padding: 0;
  font-family: Sans-Serif;
}

body
{
    background: -webkit-linear-gradient(top, #feffff 0%,#d3e5ed 100%); /* Chrome10+,Safari5.1+ */
}

i
{
    padding-left: 4px;
    padding-right: 4px;
    font-style: normal;
    color: #f66;
    display: inline-block;
}

.editarea
{
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    vertical-align: top;
    flex: 1;
}

.container
{
    display: flex;
}

textarea
{
    overflow: show;
}

#add-dialog
{
    position: fixed;
    border: 1px solid black;
    padding: 3px;
    background-color: #cef;
}

#add-dialog button
{
    padding: 3px 2px;
    font-size: 14px;
}

#phrase-words li {
    display: inline-block;
    margin: 4px;
}

.word-container
{
    border: 2px solid #6393B2;
    padding: 10px;
    display: inline-block;
    background: -webkit-linear-gradient(top, #cff0fc 0%,#87c7f2 100%); /* Chrome10+,Safari5.1+ */
    vertical-align: top;
}

.word-element
{
    padding-right: 20px;

}

.word-container-edit {
    border-style: dashed;
    border-color: #0090FF;
    border-width: 4px;
}

.word-container .word-field-label 
{
    font-weight: light;
    
}

.word-container p
{
    display: table-row;
}

.word-container p span
{
    display: table-cell;
    padding: 5px;
}

.word-container .delete-button
{
    width: 20px;
    height: 20px;
    padding: 0;
    margin: -8px;
    margin-left: 5px;
    margin-bottom: 5px;
    float: right;
}

input
{
    padding: 3px 5px;
    margin: 2px;
    display: table-cell;
}

label
{
    padding: 3px 5px;
    display: table-cell;
}

button
{
    padding: 5px;
    margin: 5px;
    flex: 1;
}

.container ul {
    border: 2px solid #ccc;
    margin: 10px;
    flex: 1;
}

.container li {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container li.current {
    background-color: #5fc4ff;
}

.container .add-phrase {
    background-color: #43a047;
    color: #fff;

    border-radius: 20px;
    border: none;
    width: 40px;
    height: 40px;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    margin: 4px;
    float: right;

    text-align: center;
    font-size: 20px;
}

.container .add-phrase:hover {
    background-color: #2d8631;
}

.container .add-phrase:active {
    background-color: #1b7e20;
}

.container li * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
